:root {
  --main-bg-color: brown;
  --menu-bg-color: #363636;
  --menu-text-color: #f6faff;
  --main-bg-light-color: blue;
}

element{
    background-color: var(--main-bg-color);
}

/******* Common stuff ******/
body,
html {
    font-family: 'Open-Sans-regular';
    font-size: 16px;
    line-height: 1.8em;
    color: #646464;
    background-color: #fcfcfc;
}

.text-title{
  font-size: 150%;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.text-subtitle{
  font-size: 150%;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 30px;
  text-transform: none;
}
.text-blue{
  color: #4676be;
}
.text-white{
  color: #fcfcfc;
}
.bg-blue{
  background-color: #4676be; 
}
.bg-light-gray{
  background-color: #d0cdc7;
}
.bg-light-blue{
  background-color: #b7d4ff;
}
.bg-dark-gray{
  background-color: #424242;
}/*
.bg-right-blue{
  background: linear-gradient(90deg, transparent 50%, #4676be 50%);
}
.bg-right-light-blue{
  background: linear-gradient(90deg, transparent 50%, #b7d4ff 50%);
}
.bg-left-light-gray{
   background: linear-gradient(90deg, #d0cdc7 50%, transparent 50%);
}
.bg-left-dark-gray{
  background: linear-gradient(90deg, #424242 50%, transparent 50%);
}
*/
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.margint-30{
  margin-top: 30px;
}

/******* Buttons ******/
.btn {
    /*border: 2px solid transparent;*/
    border-radius: 0px;
    color: #fff;
    font-size: 16px;
    padding: 6px 40px 6px 40px;
    transition: all 0.2s ease-in-out 0s;
}
.btn-blue {
  background-color: #4676be;
}
.btn-dark{
  background-color: #424242;
}
.btn-blue:hover {
    border-color: #4676be;
    background-color: #fcfcfc;
    color: #4676be;
}
.btn-dark:hover {
    border-color: #424242;
    background-color: #fcfcfc;
    color: #424242;
}
.btn-blue:visited,
.btn-blue:focus,
.btn-dark:visited,
.btn-dark:focus {
    color: #fcfcfc;
}
.btn-dark:focus:hover {
    color: #424242;
}
.btn-blue:focus:hover {
    color: #4676be;
}

/****** Truncate ******/
/* styles for '...' */ 
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.8em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 12.6em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}
/* create the ... */
.block-with-text:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 2em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: #4676be;
}
.block-with-text-blue:after{
    background: #4676be;
}
.block-with-text-light-blue:after{
    background: #b7d4ff;
}
.block-with-text-light-gray:after{
    background: #d0cdc7;
}
.block-with-text-dark-gray:after{
    background: #424242;
}
/****** Hexagon ******/
.hexagon {
  /*visibility: hidden;*/
  display: none;
  z-index: 1;
  position: absolute;
  width: 410px; 
  height: 236.71px;
  background-color: rgba(72, 120, 191, 0.5);
  margin: 118.36px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 205px solid transparent;
  border-right: 205px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 118.36px solid rgba(72, 120, 191, 0.5);
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 118.36px solid rgba(72, 120, 191, 0.5);
}

.hexagon-on-left{
    /*left: -154px;
    top: 63px;*/
    right: -224px;
    top: 68px;
}
.hexagon-on-right{
    /*right: -154px;
    top: 63px;*/
    right: -186px;
    top: 68px;
}
.hexagon-container{
  position: relative; 
  float: left;
}

/****** MENU ******/
nav.navbar.navbar-fixed-top{
  background-color: #363636; 
  min-height: 90px;
}

ul.navbar-nav.navbar-right li a{
  color: #f6faff;
  font-size: 18px; 
  margin-right: 15px;
  margin-left: 15px;
  padding-right: 0;
  padding-left: 0;
  text-transform: uppercase; 
}

ul.navbar-nav.navbar-right li.active>a{
  color: #4878bf;
}

ul.navbar-nav.navbar-right li.active>a:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

nav .navbar-nav.navbar-right>li>a:focus, 
nav .navbar-nav.navbar-right>li>a:hover{
  color: #4878bf;
  background-color: transparent;
  text-decoration: none;
}

nav .navbar-nav.navbar-right>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  /*height: 0;*/
  /*bottom: -7px;*/
  height: 3px;
  bottom: 4px;
  left: 0;
  background-color: #4878bf;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav .navbar-nav.navbar-right>li>a:hover:before {
  visibility: visible;
  /*height: 3px;
  transform: translateY(-10px);*/
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

nav .navbar-toggle{
  background-color:transparent;
}

nav .navbar-toggle .icon-bar{
  background-color: #f6faff;
}

/****** Index ******/
div#page-index > div.splash-block{
  height: 370px;
  background-image: url(../img/fokep1.jpg);
}

.splash-block {
    width: 100%;
    z-index: -1;
    /*background-position: center center;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
}

.block{
  padding: 105px 0px 105px 0px;
}

#page-index #block2{
  background: url(../img/fokep2.png) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 855px;
}

#page-index #block2>div>p{
  margin-bottom: 105px;
}

div.overlay-text-box{
  z-index:  10;
  padding: 50px 0 50px 0;
}

#page-index #block3{
  background: url(../img/fokep3.jpg) no-repeat center center;
  background-size: cover;
  height: 647px;
}

#page-index #block4{
  background: url(../img/fokep4.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 647px;
}


#page-index #block5{
  background: url(../img/fokep5.jpg) no-repeat center center;
  background-size: cover;
  height: 647px;
}

footer{
  padding: 70px 0 70px 0;
}

.corner {
    /*width: 100px;
    background-color: green;
    margin: 10px;*/
    /*visibility: hidden;*/
    position: relative;
}
.corner:after, .corner:before {
    content: "";
    position: absolute;
    /*visibility: hidden;*/
    display: none;
    /*left: 100%;*/
    width: 106px;
    height: 50%;
}
.corner-on-right:before, .corner-on-right:after{
    left: 100%;
}
.corner-on-left:before, .corner-on-left:after{
    right: 100%;
}
.corner-on-right-light-gray:before {
    top: 0px;
    left: 100%;
    background: linear-gradient(to top right, #d0cdc7 50%, transparent 51%);
}
.corner-on-right-light-gray:after {
    bottom: 0px;
    left: 100%;
    background: linear-gradient(to bottom right, #d0cdc7 50%, transparent 51%);
}
.corner-on-right-dark-gray:before {
    top: 0px;
    left: 100%;
    background: linear-gradient(to top right, #424242 50%, transparent 51%);
}
.corner-on-right-dark-gray:after {
    bottom: 0px;
    left: 100%;
    background: linear-gradient(to bottom right, #424242 50%, transparent 51%);
}
.corner-on-left-blue:before{
    top: 0px;
    right: 100%;
    background: linear-gradient(to bottom right, transparent 50%, #4676be 51%);
}
.corner-on-left-blue:after{
    bottom: 0px;
    right: 100%;
    background: linear-gradient(to top right, transparent 50%, #4676be 51%);
}
.corner-on-left-light-blue:before{
    top: 0px;
    right: 100%;
    background: linear-gradient(to bottom right, transparent 50%, #b7d4ff 51%);
}
.corner-on-left-light-blue:after{
    bottom: 0px;
    right: 100%;
    background: linear-gradient(to top right, transparent 50%, #b7d4ff 51%);
}


/****** Media queries ******/
@media (min-width: 768px){
  .nav.navbar-nav.navbar-right{
    margin-top: 36px;
  }
}

@media (min-width: 992px){
  .hexagon{
    /*visibility: visible;*/
    display: block;
  }
  .corner:after, .corner:before{
    /*visibility: visible;*/
    display: block;
  }
  .bg-right-blue{
    background: linear-gradient(90deg, transparent 50%, #4676be 50%);
  }
  .bg-right-light-blue{
    background: linear-gradient(90deg, transparent 50%, #b7d4ff 50%);
  }
  .bg-left-light-gray{
     background: linear-gradient(90deg, #d0cdc7 50%, transparent 50%);
  }
  .bg-left-dark-gray{
    background: linear-gradient(90deg, #424242 50%, transparent 50%);
  }
}

@media (max-width: 768px){
nav .navbar-toggle{
      margin-top: 33px;
    }
}